body {
    background-color: rgb(25, 25, 25);
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

table{
  width: 100%;
  background-color: rgb(25, 25, 25);
  text-align: center;
  position: sticky;
  top: 0;
  /*if I wanted to make the table smaller. This centers it*/
  /* margin-left: auto;
  margin-right: auto; */
}

th{
  width: 20%;
  /* border:1px solid rgb(255, 255, 255); */
}

/**************************************************************************************************************/

.button {
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  font-size: 16px;
}

.button:hover{background-color: rgb(50, 50, 50);}
.button:active {background-color: rgb(0, 0, 0);}


/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    width: 100%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(50, 50, 50)}
  .dropdown-content a:active {background-color: rgb(0, 0, 0)}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    width: 100%;
    background-color: rgb(50, 50, 50);
  }
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=reset]:hover {
    background-color: #45a049;
  }
/**************************************************************************************************************/
  .container{
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background:url(../IMAGES/Background_Skill.png); */
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat:no-repeat;
    background-size: 100%;
  }
  .gif_container{
    /* padding-top: 250px; */
    background:url(../GIF/SlimeHunter.gif);
    height: 750px;
    width: 100%;
    text-align: center;
    background-repeat:no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .slide_container{
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  } 
  
  .mySlides{
    width: 75%; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .demo{
    width: 25%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(50, 50, 50);
    color: white;
  }
  /* .active {
    background-color: aqua;
  } */
  .box{
      padding-top: 2%; 
      padding-bottom: 2%; 
      margin-left: auto;
      margin-right: auto;
      background-color: antiquewhite;
      height: 75%;
      width: 50%;
      text-align: center;
      color: black;
      background-repeat:no-repeat;
      background-size: 100%;
  }

  .line{
    background-color: white;
    width: 90%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

  }

  .description{
    text-align: center; 
    margin: auto;
  }

footer{
  position: absolute;
  background-color:rgb(68, 0, 0);
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 1%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: -8px;

  /* padding-bottom: 1px; */
}